body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 100px 50px;/*margin:100px auto无效,不能使ul左右居中*/
    text-align: center;
    font-size: 14px;
}
li {
    float: left;/*改动的地方*/
    width: 80px;
    padding: 10px;
    background-color: #ff9137;
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration:none;
}

.left {
  float: left;
  width: 100%;
  height: 30px;
  margin-right: -300px;
}
.right {
  float: right;
  width: 300px;
  height: 30px;
}