<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>BLOG-{{title}}</title>
        {% else %}
        <title>Blog</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body>
        <h2>
            <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='favatar.icon') }}">
        </h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="'#">Setting</a></li>
                <span>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </span>
            </ul>
        </nav>
        <br>

        {% block content %}
        {% endblock %}

    </body>
    <footer>
        <small>&copy; 2021 <a href="http://helloflask.com/tutorial">Blog</a></small>
    </footer>
</html>